<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Photo Shop Inventory</title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">


</head>
<body>
    <div id="grid-container">
        <header>
        <div class="sidebar">
            <img src="../static/images/photo_shop_logo_hor.png" id="logo"/>
            <nav>
                <ul class="nav">
                    <li><a href="/">Home</a>   ></li>
                    <li><a href="/products/inventory">Inventory</a>   ></li>
                    <li><a href="/products">Products</a>   ></li>
                    <li><a href="/manufacturers">Manufacturers</a>   ></li>
                </ul>
            </nav>
        </div>
        </header>
        <div class="main_area">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>