<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Shop Stock Inventory</title>
</head>
<body>
    <header>

    </header>

    <div>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/suppliers">suppliers</a></li>
            </ul>
        </nav>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>