{% extends "base.html" %}
{% block content %}
<h1>{{supplier.name}}</h1>
<div>
    <form action="/suppliers/{{supplier.id}}/edit_supplier">
    <input type="submit" value="Edit"/>
    </form>
    <form action="/suppliers/{{ supplier.id }}/delete" method="POST">
    <input type="submit" value="delete"/>
    </form>
</div>
<div>
    <h3> Products:</h3>
    
    <ul>
        {% for product in products %}
        <li>
            <a href="/products/{{ product.id }}">{{product.manufacturer}} {{product.name}} </a>
            <br>
            {% for supplier_product in suppliers_products %}
            Cost Price: {{ supplier_product.cost_price}}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    

</div>

{% endblock %}