{% extends "base.html" %}
{% block content %}
<h1>Edit Product</h1>

<form action="/products/{{product.id}}" method="post">
    
    <div>
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" value="{{product.name}}" required autofocus>
    </div>
    <div>
        <label for="manufacturer">Manufacturer:</label>
        <select id="manufacturer" name="manufacturer_id">
        {% for manufacturer in manufacturers %}
        <option value="{{manufacturer.id}}"
            {% if product.manufacturer.id == manufacturer.id %} selected="selected" {% endif %}
        >{{ manufacturer.name }}</option>
        {% endfor %}
        </select> 
    </div>

    <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{product.category}}" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" cols="30" rows ="10" required>{{product.description}}</textarea>
    </div>
    <div>
        <label for="cost_price">Cost Price:</label>
        <input type="number" id="cost_price" name="cost_price" min="0" step="0.01" value="{{product.cost_price}}"required>
    </div>
    <div>
        <label for="retail_price">Retail Price:</label>
        <input type="number" id="retail_price" name="retail_price" min="0" step="0.01" value="{{product.retail_price}}" required>
    </div>
    <div>
        <label for="stock_level">Stock Level:</label>
        <input type="number" id="stock_level" name="stock_level" min="0" value="{{product.stock_level}}" required>
    </div>

    <button type="submit">Update Product</button>


</form>

{% endblock %}