{% extends "base.html" %}
{% block content %}
<h1>All Products</h1>

<div>
<form action="/products/new_product">
    <input class="button" type="submit" value="New Product"/>
    </form>
</div>
{% for product in products %}

<div>
    <div class="details">
        <p class="title">Product: <a href="/products/{{ product.id }}"> {{product.name}} </a></p>
        <p>Manufacturer: {{product.manufacturer.name}}</p>
        <p>Category: {{product.category}}</p>
        <p>Description: {{product.description}}</p>
        <p>Cost Price: {{product.cost_price}}</p>
        <p>Retail Price: {{product.retail_price}}</p>
        <p>Stock Level: {{product.stock_level}}</p>
        
        {% if product.stock_level == 0 %}
        <div class="no_stock">
        <p> OUT OF STOCK</p>
        </div>
        {% elif product.stock_level <= 2 %} 
        <div class="low_stock">
        <p> LOW STOCK </p>
        </div>
        {% endif %}
        <hr>
    </div>

</div>
{% endfor %}

{% endblock %}