{% extends "base.html" %}
{% block content %}
<h1>Products</h1>

<a href="/products/new_product">Add new product</a>

{% for product in products %}

<div>
    <div>
        Product: <a href="/products/{{ product.id }}"> {{product.name}} </a> Manufacturer: {{product.manufacturer}}
        <br>
        Category: {{product.category}}
        <br>
        Description: {{product.description}}
        <br>
        Retail Price: {{product.retail_price}}
        <br>
        Stock Level: {{product.stock_level}}


    </div>

</div>
{% endfor %}

{% endblock %}