{% extends "base.html" %}
{% block content %}
<h1>All Products</h1>

<div>
<form action="/products/new_product">
    <input type="submit" value="New Product"/>
    </form>
</div>
{% for product in products %}

<div>
    <div>
        <p>Product: <a href="/products/{{ product.id }}"> {{product.name}} </a></p>
        <p>Manufacturer: {{product.manufacturer}}</p>
        <p>Category: {{product.category}}</p>
        <p>Description: {{product.description}}</p>
        <p>Retail Price: {{product.retail_price}}</p>
        <p>Stock Level: {{product.stock_level}}</p>
        
        {% if product.stock_level == 0 %}
        <p> OUT OF STOCK</p>
        {% elif product.stock_level <= 2 %} 
        <p> LOW STOCK </p>
        {% endif %}
        <hr>
    </div>

</div>
{% endfor %}

{% endblock %}