{% extends "base.html" %}
{% block content %}
<h1>{{product.name}}</h1>


<div>
    <div>
        <p>Manufacturer: {{product.manufacturer}}</p>
        <p>Category: {{product.category}}</p>
        <p>Description: {{product.description}}</p>
        <p>Retail Price: {{product.retail_price}}</p>
        <p>Stock Level: {{product.stock_level}}</p>
        <p><a href="/products/{{product.id}}/edit_product">Edit</a></p>
        <p>
            <form action="/products/{{ product.id }}/delete" method="POST">
                <input type="submit" value="delete"/>
            </form>
        </p>
        
    </div>

    <div>
        <h3> Suppliers:</h3>
        
        <ul>
            {% for supplier in suppliers %} 
            <li>
                <a href="/suppliers/{{ supplier.id }}">{{ supplier.name }}</a> 
                <br>
                {% for supplier_product in suppliers_products %}
                Cost Price: {{ supplier_product.cost_price}}
                {% endfor %}
            </li>
            {% endfor %}

        </ul>
        

    </div>

</div>


{% endblock %}