{% extends "base.html" %}
{% block content %}
<h1>{{product.name}}</h1>

{% for product in products %}

<div>
    <div>
        Manufacturer: {{product.manufacturer}}
        <br>
        Category: {{product.category}}
        <br>
        Description: {{product.description}}
        <br>
        Retail Price: {{product.retail_price}}
        <br>
        Stock Level: {{product.stock_level}}
    </div>

    <div>
        <h3> Suppliers:</h3>
        
        <ul>
            {% for supplier in suppliers %}
            <li>{{ supplier.name }}</li>
            <li>{{ supplier.cost_price}} </li>
            {% endfor %}

        </ul>
        

    </div>

</div>
{% endfor %}

{% endblock %}