{% extends "base.html" %}
{% block content %}
<h1>{{manufacturer.name}}</h1>
<div>
    <form action="/manufacturers/{{manufacturer.id}}/edit_manufacturer">
    <input type="submit" value="Edit"/>
    </form>
    <form action="/manufacturers/{{ manufacturer.id }}/delete" method="POST">
    <input type="submit" value="Delete"/>
    </form>
</div>
<div>
    <h3> Products:</h3>
    
    <ul>
        {% for product in products %}
        <li>
            <a href="/products/{{ product.id }}">{{product.manufacturer}} {{product.name}} </a>
            <br>
        </li>
        {% endfor %}
    </ul>
    

</div>

{% endblock %}